[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
"flake8" = "*"
peewee = "*"
flask-restful = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.7"
