[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
urllib3 = ">=1.24.2"
requests = ">=2.20.0"
Jinja2 = ">=2.10.1"
"flake8" = "*"
peewee = "*"
flask-restful = "*"
gunicorn = "*"
black = "==19.3b0"

[dev-packages]

[requires]
python_version = "3.7"
