[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = ">=2.20.0"
Jinja2 = ">=2.10.1"
"flake8" = "*"
peewee = "*"
flask-restful = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.7"
