{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}


{% endblock %}
{% block MainDiv %}
<script>
    var limit  = 20;
    var CurrentOffset = 0;
    var done   = false;
    var totalPasteCount = 0;
    var count = 0;
</script>
<script>
    function getnextNPastes(lim, off, n) {
        getPasteCount();
        var lim = lim;
        var off = off;
        if(n == 0){
            off = off - lim;
        }
        $.get("/api/selectNextX/" + lim + "/" + off, function (data, status) {
            if(status == "success"){
                if(data["pastes"].length > 0){
                    $('#lPanel').empty();
                    for (var i in data["pastes"]) {
                        var idDiv = `<a href="/showPaste/${data["pastes"][i]['Id']}">
                            <div style="overflow-wrap:break-word; height: 30px;">
                                ${data["pastes"][i]['Name']}
                            </div></a>`;
                        $("#lPanel").append(idDiv);
                    };
                }
                window.count = data["pastes"].length;
                if(n == 1){
                    window.CurrentOffset = window.CurrentOffset + window.limit;
                }else{
                    window.CurrentOffset = window.CurrentOffset - window.limit;
                }
            }else{
               window.count = -1;
            }
        });
    }

    function getPasteCount(){
        $.get("/api/recordCount", function (data, status){ 
            window.totalPasteCount = data["count"];
        });
    }
   
    $(document).ready(
        function () {
            $('#next').click(function () {
                getnextNPastes(window.limit, window.CurrentOffset, 1);
            });

            $('#prev').click(function () {
                getnextNPastes(window.limit, window.CurrentOffset, 0);
            });

            getnextNPastes(window.limit, window.CurrentOffset, 1);
        });

</script>

<div>
    </br>
</div>
<div class="text-primary" style="height: 81vh; overflow-y: auto;">
    <div class="container text-center" style="height: 76%; top: 5%;
                padding-top: 5vh; padding-bottom: 5vh;">
        <div style="overflow-wrap:break-word;">
            <button type="button" id="next">Next</button>
        </div>
        <div class="post-preview" id="lPanel">
            
        </div>
        <div style="overflow-wrap:break-word;">
            <button type="button" id="prev">Previous</button>
        </div>
    </div>
</div>
{% endblock %}
