{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}


{% endblock %}
{% block MainDiv %}
<script>
    var limit  = 20;
    var offset = 0;
    var done   = false;
</script>
<script>
    function getnextNPastes(lim, off) {
        $.get("/api/selectNextX/" + lim + "/" + off, function (data, status) {

            for (var i in data["pastes"]) {
                var idDiv = `<a href="/showPaste/${data["pastes"][i]['Id']}">
        <div style="overflow-wrap:break-word; height: 30px;">
            ${data["pastes"][i]['Name']}
        </div></a>`;

                $("#lPanel").append(idDiv);
            };
        });
    }
   
    $(document).ready(
        function () {
            $('#next').click(function () {
                $('#lPanel').empty();
                getnextNPastes(window.limit, window.offset);
                window.offset = window.offset + 20;
            });

            $('#prev').click(function () {
                if(window.offset >= 20){
                    $('#lPanel').empty();
                    window.offset = window.offset - 20;
                    getnextNPastes(window.limit, window.offset);
                }
            });

            getnextNPastes(window.limit, window.offset);
            window.offset = window.offset+20;
        });

</script>

<div>
    </br>
</div>
<div class="text-primary" style="height: 81vh; overflow-y: auto;">
    <div class="container text-center" style="height: 76%; top: 5%;
                padding-top: 5vh; padding-bottom: 5vh;">
        <div style="overflow-wrap:break-word;">
            <button type="button" id="next">Next</button>
        </div>
        <div class="post-preview" id="lPanel">
            
        </div>
        <div style="overflow-wrap:break-word;">
            <button type="button" id="prev">Previous</button>
        </div>
    </div>
</div>
{% endblock %}
