{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block MainDiv %}

    <script>
        $(document).ready(function(){  
            $('#submit').click(function() {
                        var data = JSON.stringify(
                             {
                                'username': $("#username").val(),
                                'password': $("#password").val(),
                            });

                        $.ajax({
                            'url' : '/api/login',
                            'type' : 'POST',
                            'contentType': "application/json",
                            'dataType': 'json',
                            'data': data,
                            'success' : function(data) {
                                alert("login"+data['login']);
                                if(data['login']=='success'){
                                    window.location.replace("/");
                                }
                             }
                         });
                    });
        });
    </script>
    <div>
        </br>
    </div>
    <div class="text-primary" style="height: 81vh; overflow-y: auto;">
        <div class="container text-center" style="height: 76%; top: 5%;
                    padding-top: 5vh; padding-bottom: 5vh;">
            Username<br>
            <input type="text" id="username" name="username" style="width: 100%; background-color: white; color:green"><br>
            Password<br>
            <input type="password" id="password" name="Password" style="width: 100%; background-color: white; color:green"><br>
            <input type="submit" id="submit" value="Submit">
        </div>
    </div>

{% endblock %}
