{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block MainDiv %}
        <script
            src="/static/js/google-code-prettify/run_prettify.js"
        defer></script> 

        <link rel="stylesheet" type="text/css"
                               href="/static/js/google-code-prettify/skins/sons-of-obsidian.css">

        <style type="text/css">
            .operative { font-weight: bold; border: 1px solid yellow; }
            #quine { border: 4px solid #88c; }
        </style>

        <style>
            .prettyprint ol.linenums > li { list-style-type: decimal; }
        </style>

    <div class="bg-white text-primary" style="height: 81vh; overflow-y: auto; padding-top: 4%">
      <div class="container">

            <?prettify lang=markdown >
            <pre class="prettyprint linenums" id="quine" style="width:100%;
                        height:100%">{{data.Content}}</pre>
        </div>
    </div>
{% endblock %}
