{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block MainDiv %}
        <script
            src="/static/js/google-code-prettify/run_prettify.js"
        defer></script> 

        <link rel="stylesheet" type="text/css"
                               href="/static/js/google-code-prettify/skins/sons-of-obsidian.css">
        <style>
            .prettyprint ol.linenums > li { list-style-type: decimal; }
        </style>

        <div>
            </br>
        </div>

        <div class="w3-container" style="height: 100%; top: 5%;
                   padding-top: 5vh; padding-bottom: 5vh; ">
            <?prettify lang=markdown >
                <pre class="prettyprint linenums"
                    id="quine" style="height: 100%;">{{data.Content}}</pre>
        </div>

{% endblock %}
