{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block MainDiv %}

        <script>

            function copyStringToClipboard (str) {
                var el = document.createElement('textarea');
                el.value = str;
                el.setAttribute('readonly', '');
                el.style = {position: 'absolute', left: '-9999px'};
                document.body.appendChild(el);
                el.select();
                document.execCommand('copy');
                document.body.removeChild(el);
            }

            $(document).ready(function(){
                {%if not data.Status == "Success"%}
                    var error_msg = {{data.Status.Error|tojson}};
                alert(error_msg);
                {% endif %}
                $('#CopyPaste').click(function() {

            {%if data.Status == "Success"%}
                    var paste_content = {{data.Content|tojson}};
                    copyStringToClipboard(paste_content);
            {%else%}

                    var error_msg = {{data.Status.Error|tojson}};
                    alert(error_msg);
            {%endif%}

                });
            });

        </script>
        <script
            src="/static/js/google-code-prettify/run_prettify.js"
        defer></script> 

        <link rel="stylesheet" type="text/css"
                               href="/static/js/google-code-prettify/skins/sons-of-obsidian.css">
        <style>
            .prettyprint ol.linenums > li { list-style-type: decimal; }
        </style>

        <div>
            </br>
        </div>

        <div class="w3-container" style="height: 100%; top: 5%;
                   padding-top: 5vh; padding-bottom: 5vh; ">
        {% if data["Status"] == "Success" %}
<?prettify lang=markdown ><pre class="prettyprint linenums"id="quine" style="height: 100%;">{{data.Content}}</pre>
        {% endif %}
        </div>

{% endblock %}
