{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #333333; }
    </style>
{% endblock %}
{% block MainDiv %}
  <script>
        $(document).ready(function(){
            $.get("/api/selectDb", function(data, status){
                console.log(data);
                for (var i in data["pastes"]){
                    var idDiv = `<a href="/showPaste/${data["pastes"][i]['Id']}">
        <div style="overflow-wrap:break-word;">
            ${data["pastes"][i]['Name']}
        </div></a>`;
                    console.log(idDiv);
                    $("#lPanel").append(idDiv);
                };
            });
        });
    </script>

    <div class="bg-white text-primary" style="height: 81vh; overflow-y: auto;">
      <div class="container text-center">
          </br></br></br>
          <div class="post-preview" id="lPanel" >
          </div>
          </br></br>
      </div>
    </div>
{% endblock %}
