{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #333333; }
    </style>
{% endblock %}
{% block content %}

    <div style="overflow-y: auto; overflow-x: hidden; width:100%" class="align-items-center">
      {% for paste in pastes %}
         <a href="/showPaste/{{paste.Id}}">
             <div class="row">
                  <div class="col-*-* row h-100 justify-content-center align-items-center " style="width:100%">
                     <h3>{{ paste.name }}</h3>
                  </div>
             </div>
         </a>
      {% endfor %}
    <!-- </p> -->
    </div>
{% endblock %}
