{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block MainDiv %}

    <div class="bg-white text-primary" style="height: 81vh; overflow-y: auto;">
        <div class="container text-center">
            </br></br></br>
            Username<br>
            <input type="text" name="username" style="width: 100%; background-color: white; color:green"><br>
            Password<br>
            <input type="text" name="Password" style="width: 100%; background-color: white; color:green"><br>
            <input type="submit" value="Send">
            <input type="reset" value="Clear">
        </div>
    </div>

{% endblock %}
