{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block MainDiv %}
        <script >
            $(document).ready(function(){  
                  $.ajax({
                    'url' : '/api/get/{{pasteId}}',
                    'type' : 'GET',
                    'crossDomain':true,
                    'success' : function(data) {
                        console.log(data);
                        //$('#canv').append(data['Content']);       
                        document.getElementById("canv").src = "data:text/plain;charset=utf-8," + escape(data['Content']);
                        }
                    });
                  });
        </script>
    <div class="bg-white text-primary" style="height: 81vh; overflow-y: auto;">
      <div class="container">
            </br></br></br>
            <div style="width:100%; height:100vh">
                <iframe id="canv" style="height:100%; width:100%">  
                </iframe>
            </div>
        </div>
    </div>
{% endblock %}
